div{
  border: 17px solid #4285F4;
  width: 351px;
  height: 260px;
  margin: 5px;
}

div:nth-child(1){
background-color:#E67676 
}

div:nth-child(2){
  background-color: #A9E6E6
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 36px;
  width: 351px;
  height: 130px;
  text-align: center;
  line-height: 128px;
  margin-top: 0px;
  margin-bottom: 0px;
}