@model ListingTodosApp.Models.Todo

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Todos for today</h1>
    <ul>
        <li>@Model.Id</li>
        <li>@Model.Title</li>
        <li>@Model.IsUrgent</li>
        <li>@Model.IsDone</li>
    </ul>
</body>
</html>