@model string[]
@{ var random = new Random(); }
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    @foreach (var hello in @Model)
    {
        <span style="color:rgb(@random.Next(0,255), @random.Next(0,255), @random.Next(0,255)); font-size: @random.Next(13, 77)px">
            @hello
        </span>
    }
</p>
</body>
</html>