body{
  margin-right: 80%;
  }

#b325, .asteroid.b326{
  font-weight: bold;
  border: 1px solid green;
  box-sizing: border-box; 
}
p{
  color: blue;
  background-color: yellow;
}
.asteroid.b329.big{
  color: blue;
  font-weight: bold;    
}