@model Counter.Models.CounterClass

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<form action="Index" method="post" >
    <div>
        @Model.Number
    </div>
    <div>
        <input type="submit" value="Increase" />
    </div>
</form>
</body>
</html>