h1{
  font-family: serif;
  color: #FF6347;
  font-size: 30px;
  font-stretch: semi-expanded;
}

h2, h3{
  color: #8933E3;
  font-stretch: semi-expanded;
}

p{
  width: 450px;
  font-size: 13px;
}

ol{
  color: #FF45FF;
  text-decoration: underline;
  list-style-type: upper-roman;
}

#nu{
  color: black;
  text-decoration: underline;
}