body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: mediumpurple;
    color: white;
}

th {
    background-color: black;
    color: white;
}

