@model ProgrammerFoxClub.Models.Fox

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        <li>
            Information
        </li>
    </ul>

    <img src="~/greenfox.png" alt="My Greenfox" width="500" height="377">

    <h3>This is Mr @Model.Name. Currently living on @Model.Food and @Model.Drink. He know @Model.Skills.Count() trick.</h3>

</body>
</html>