<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        <li>
            Information
        </li>
    </ul>

    <img src="~/greenfox.png" alt="My Greenfox" width="500" height="377">

    <h3>This is Mr Green. Currently living on salad and water. He know 0 trick.</h3>

</body>
</html>