@model ICollection<RedditWebApp.Models.Reddit>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <form action="/add" method="get">
        <button id="table" class="w3-button w3-black w3-round-xlarge" type="submit">Add new post</button>
    </form>

    <h1>POSTS:</h1>

    <table class="w3-table-all">
        <tr class="w3-red">
            <th>SCORE</th>
            <th>ACTIONS</th>
            <th>CONTENT</th>
            <th>DATE</th>
            <th></th>
        </tr>
        @foreach (var reddit in Model)
        {
            <tr>
                <td>@reddit.Score</td>
                <td>
                    <a href="/vote/up/@reddit.Id">+</a>
                    <a href="/vote/down/@reddit.Id">-</a>
                </td>
                <td>@reddit.Content</td>
                <td>@reddit.Date</td>
                <td>
                    <form action="/delete/@reddit.Id" method="post">
                        <input type="hidden" name="Id" value="@reddit.Id" />
                        <button id="table" class="w3-button w3-black w3-round-xlarge" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>

</body>
</html>