@model ICollection<RedditWebApp.Models.Reddit>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="post/add" method="get">
        <button id="table" class="number" type="submit">Add new post</button>
    </form>

    <h1>POSTS:</h1>

    <table>
        <tr>
            <th>SCORE</th>
            <th>ACTIONS</th>
            <th>CONTENT</th>
            <th>DATE</th>
        </tr>
        @foreach (var reddit in Model)
        {
            <tr>
                <td>@reddit.Score</td>
                <td>
                    <a href="/vote/up/@reddit.Id">+</a>
                    <a href="/vote/down/@reddit.Id">-</a>
                </td>
                <td>@reddit.Content</td>
            </tr>
        }
    </table>

</body>
</html>