@model List<bankofsimba.Models.BankAccount>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (var animals in Model)
        {
            <tr>
                <td>@animals.Name </td>
                <td>@animals.Balance.ToString("0.00 Zebra")  </td>
                <td>@animals.AnimalType  </td>
            </tr>
        }

    </table>
</body>
</html>