@model bankofsimba.Models.BankAccount
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<p>
@foreach (var animals in @Model.)
{

}

<p>
<p>@Model.Name</p>
<p>@Model.Balance.ToString("0.00")</p>
<p>@Model.AnimalType</p>
</body>
</html>