@model bankofsimba.Models.BankAccount
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
    <h1>Client:</h1>
    <p>@Model.Name</p>
    <p>@Model.Balance.ToString("0.00") zebra</p>
    <p>@Model.AnimalType</p>
</body>
</html>