@model GreetSomeOneApp.Models.UserInfo
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/StyleSheetGreet.css" />
</head>
<body>
    <h1>Greetings @Model.Name</h1>
</body>
</html>