@model GreetSomeOneApp.Models.UserInfo
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/StyleSheetIndex.css" />
</head>
<body>
    @using (Html.BeginForm("index", "home"))
    {
    <form action="Index" method="post">
        <div>
            <label for="Name">Name:</label>
            <input type="text" name="Name" value="" />
        </div>
        <input type="submit" value="Submit">
    </form>
    }
</body>
</html>