@model GreetSomeOneApp.Models.Greeting
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<div>
    <label for="Name">Name:</label>
    <input type="text" name="Name" value="" />
</div>
</body>
</html>